.background {
    background-image: url("../src/components/img/ibflorestas.jpg");
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: red;
    font-weight: bold;
}